<form action="/destinations" method="POST" enctype="multipart/form-data">
    <div>
        <label for="title">title</label>
        <input type="text" name="title" placeholder="title">
    </div>
    <div>
        <label for="place">place</label>
        <input type="text" name="place" placeholder="place">

    </div>
    <div>
        <label for="aboutPlace">aboutPlace</label>
        <textarea name="aboutPlace" placeholder="aboutPlace"></textarea>

    </div>
    <div>
        <label for="duration">duration</label>
        <input type="text" name="duration" placeholder="duration">
    </div>
    <div>
        <label for="day1">day1</label>
        <textarea name="day1" placeholder="day1"></textarea>
    </div>
    <div>
        <label for="day2">day2</label>
        <textarea name="day2" placeholder="day2"></textarea>
    </div>
    <div>
        <label for="day3">day3</label>
        <textarea name="day3" placeholder="day3"></textarea>
    </div>
    <div>
        <label for="day4">day4</label>
        <textarea name="day4" placeholder="day4"></textarea>
    </div>
    <div>
        <label for="day5">day5</label>
        <textarea name="day5" placeholder="day5"></textarea>
    </div>
    <div>
        <label for="price">price</label>
        <input type="text" name="price" placeholder="price">
    </div>
    <div>
        <label for="inclusion">inclusion</label>
        <textarea name="inclusion" placeholder="inclusion"></textarea>

    </div>
    <div>
        <label for="exclusion">exclusion</label>
        <textarea name="exclusion" placeholder="exclusion"></textarea>
    </div>
    <div>
        <label for="images">image</label>
        <input type="file" name="images" multiple>
    </div>
    <button type="submit">Submit</button>

</form>