<footer class="new_footer_area bg_color">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">

                        <!-- <img src="/images/Logo_false.png" alt=""> -->
                        <img src="/images/logo2.png" alt="" class="logo_img">
                        <div class="slogan">
                            Travel Tango is a travel based startup with the vision to simplify travel and build
                            immersive travel programs across world.
                        </div><br>
                        <h3>Contact Us</h3>
                        <div class="f_social_icon">
                            <a href="https://www.instagram.com/_tanmay_021_/" class="fab fa-facebook"><img src="/images/svgs/facebook.svg" alt="" height="60%"
                                    width="60%"></a>
                            <a href="https://www.instagram.com/_tanmay_021_/" class="fab fa-twitter"><img src="/images/svgs/insta.svg" alt="" height="60%"
                                    width="60%"></a>
                            <a href="https://www.linkedin.com/in/tanmaya-panigrahi/" class="fab fa-linkedin"><img src="/images/svgs/linkedin.svg" alt="" height="60%"
                                    width="60%"></a>
                            <a href="https://github.com/tanmaya-panigrahi" class="fab "><img src="/images/svgs/github.svg" alt="" height="60%"
                                    width="60%"></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Travel Destinations</h3>
                        <ul class="list_deco">
                            <a href="/manali">
                                <li>Manali</li>
                            </a>
                            <a href="/kasol">
                                <li>Kasol</li>
                            </a>
                            <a href="/bir-billing">
                                <li>Bir Billing</li>
                            </a>
                            <a href="/new-york">
                                <li>New York</li>
                            </a>
                            <a href="/switzerland">
                                <li>Switzerland</li>
                            </a>
                            <a href="/ladakh">
                                <li>Ladakh</li>
                            </a>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Terms & Policies</h3>
                        <ul class="list_deco">
                            <a href="/home">
                                <li>Terms of Service
                                </li>
                            </a>
                            <a href="/home">
                                <li>Privacy Policy
                                </li>
                            </a>
                            <a href="/home">
                                <li> COVID-19 Safety
                                </li>
                            </a>
                            <a href="/home">
                                <li>Subscribe</li>
                            </a>

                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    <!-- <p class="mb-0 f_400">© cakecounter Inc.. 2019 All rights reserved.</p> -->
                </div>
                <div class="col-lg-6 col-sm-5 text-right">
                    <!-- <p>Made with <i class="icon_heart"></i> in <a href="http://cakecounter.com" target="_blank">CakeCounter</a></p> -->
                </div>
            </div>
        </div>
    </div>
</footer>