<div class="nav">
    <div class="logo" style="color:black;">
        <!-- <img src="/images/Logo_false.png" alt="" height="100vh"> -->
        <img src="/images/logo2.png" alt="">
    </div>
    <div class="nav-content-main">
        <div class="nav-content">
            <ul>
                <li><a href="/home" class="nav-c">Home</a></li>
                <li class="dropdown">
                    <a href="/home" class="dropbtn nav-c"><span>Destinations</span> <span>&#709;</span> </a>
                    <div class="dropdown-content">
                        <div class="india column">
                            <h3>India</h3><br>

                            <a href="/leh-ladakh">Leh Ladakh</a>
                            <a href="/spiti-valley">Spiti Valley</a>
                            <a href="/kashmir">Kashmir</a>
                            <a href="/kasol">Kasol</a>
                            <a href="/bir-billing">Bir Billing</a>
                            <a href="/manali">Manali</a>
                            <a href="/mcleod-ganj">McLeod Ganj</a>
                            <a href="/andaman-and-nicobar-islands">Andaman and Nicobar

                        </div>
                        <div class="international column">
                            <h3>International</h3><br>

                            <a href="/dubai">Dubai</a>
                            <a href="/maldives">Maldives</a>
                            <a href="/thailand">Thailand</a>


                        </div>
                    </div>


                </li>
                <li><a href="/blogs" class="nav-c">Blog</a></li>
                <li><a href="/book-tickets" class="nav-c">Book Tickets</a></li>

            </ul>
        </div>
        <div class="authentication">


            <div><a href="/logout"><button class="login">Logout</button></a></div>
            <!-- <div><a href="/signup"><button class="signup">Sign Up</button></a></div> -->
        </div>

    </div>
    
    <div class="nav_icon">
        <button style="background-color: transparent; border: none;"><img src="/images/svgs/nav_icons1.svg" alt=""></button>
    </div>

</div>
<div class="nav_phone_view">
    <div class="nav-content-main">
        <div class="nav-content">
            <ul>
                <li><a href="/home" class="nav-c">Home</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropbtn nav-c"><span>Destinations</span> <span>&#709;</span> </a>
                    <div class="dropdown-content">
                        <div class="india column">
                            <h3>India</h3><br>

                            <a href="/leh-ladakh">Leh Ladakh</a>
                            <a href="/spiti-valley">Spiti Valley</a>
                            <a href="/kashmir">Kashmir</a>
                            <a href="/kasol">Kasol</a>
                            <a href="/bir-billing">Bir Billing</a>
                            <a href="/manali">Manali</a>
                            <a href="/mcleod-ganj">McLeod Ganj</a>
                            <a href="/andaman-and-nicobar-islands">Andaman and Nicobar

                        </div>
                        <div class="international column">
                            <h3>International</h3><br>

                            <a href="/dubai">Dubai</a>
                            <a href="/maldives">Maldives</a>
                            <a href="/thailand">Thailand</a>


                        </div>
                    </div>


                </li>
                <li><a href="/blogs" class="nav-c">Blog</a></li>
                <li><a href="/book-tickets" class="nav-c">Book Tickets</a></li>

            </ul>
        </div>
        <div class="authentication">


            <div><a href="/logout"><button class="login"><p>Logout</p></button></a></div>
            <!-- <div><a href="/signup"><button class="signup">Sign Up</button></a></div> -->
        </div>

    </div>
</div>
